.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
    padding: 0 4rem;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;    
    background: #fff;
    z-index: 9999;

}