
.card .container{
    display: flex;
    align-items: center;  
    gap: .8rem;
}

.card .item{
    flex: 1;
    display: flex;
    align-items: center;
    gap: 1rem;
    background: red;
    padding: 1rem 2rem;
    border-radius: .4rem;
    color: #fff;
}

.card .item h2{
    font-size: 2rem;
}


@media screen and (max-width: 900px){
    .card .container{
        flex-wrap: wrap;
    }
}